@using static AniTrack.GCommon.ApplicationConstants

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AniTrack</title>
    <link rel="stylesheet" href="~/css/mytheme.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/AniTrack.Web.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.css" integrity="sha512-6S2HWzVFxruDlZxI3sXOZZ4/eJ8AcxkQH1+JjSe/ONCEqR9L4Ysq5JdT5ipqtzU7WHalNwzwBv+iE51gNHJNqQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.js" integrity="sha512-lbwH47l/tPXJYG9AcFNoJaTMhGvYWhVM9YI43CT+uteTRRaiLCui8snIgyAN8XWgNjNhCqlAUdzZptso6OCoFQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <style>
        .navbar-nav .nav-link,
        .navbar-brand,
        .dropdown-item {
            font-size: 1.25rem;
            padding-top: 0.75rem !important;
            padding-bottom: 0.75rem !important;
            padding-left: 1.25rem !important;
            padding-right: 1.25rem !important;
        }
        .navbar-brand {
            font-size: 1.5rem;
            font-weight: bold;
        }
        .navbar .form-control,
        .navbar .btn {
            font-size: 1.15rem;
            padding: 0.5rem 1rem;
        }
        .bi {
            font-size: 1.5rem;
            vertical-align: middle;
        }
    </style>
</head>
<body>
    <header>
        <partial name ="_NotificationsPartial"/>
        <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">AniTrack</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarColor01">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Anime</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" asp-area="" asp-controller="Anime" asp-action="Index">Top Animes</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Anime" asp-action="Search">Search Anime</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Reviews</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" asp-area="" asp-controller="Review" asp-action="Index">Anime Reviews</a>
                                @if (User.Identity?.IsAuthenticated == true)
                                {
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" asp-area="" asp-controller="Review" asp-action="Users" asp-route-username="@User.Identity.Name">My Reviews</a>
                                }
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Help</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" asp-area="" asp-controller="Help" asp-action="About">About</a>
                            </div>
                        </li>
                        @if (User.Identity?.IsAuthenticated == true && User.IsInRole(AdminRoleName))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Admin</a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" asp-area="Admin" asp-controller="Home" asp-action="Index">Admin Board</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" asp-area="" asp-controller="Anime" asp-action="Add">Add Anime</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="Genre" asp-action="Add">Add Genre</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="Genre" asp-action="Delete">Delete Genre</a>
                                    <a class="dropdown-item" asp-area="Admin" asp-controller="Home" asp-action="RestoreAnimes">Restore Animes</a>
                                </div>
                            </li>
                        }
                    </ul>                 
                   <form asp-area="" asp-controller="Anime" asp-action="Search" method="get" class="d-flex ms-4 align-items-center">
                        <input class="form-control me-sm-2" type="search" name="searchTerm" placeholder="Search Anime" />
                        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
                    </form>
                    @if (User.Identity?.IsAuthenticated == true)
                    {
                        <a class="nav-link d-inline-block ms-4 align-middle" asp-area="" asp-controller="Animelist" asp-action="Index" title="My Animelist" style="vertical-align: middle;">
                            <i class="bi bi-list" aria-hidden="true"></i>
                            <span style="margin-left: 0.0rem;">My Animelist</span>
                        </a>
                    }
                    <div class="ms-4 d-inline-block align-middle">
                        <partial name="_LoginPartial" />
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>
    @* <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script> *@
    
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
