@{
    ViewData["Title"] = "AniTrack";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<style>
a,
a:visited {
    color: #258cfb;
}

a:hover,
a:focus {
    color: #1565c0; /* Optional: darker blue on hover/focus */
}
</style>
